*.exe
*.dll
*.mak
settings.json
MCsquare_linux*
MCsquare_win*
*.py
!validation/*.py
!validation/tests/*.py
old_versions
.venv/
validation/.venv/
test_transport_to_ct
test_remove_temporary_folders
test_update_material_labels
test_secondary_angle
*.dSYM/
